.history-item {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.time {
  font-size: 13px;
  font-weight: bold;
  color: #475569;
  font-family: 'Roboto';
}
.title {
  font-size: 13px;
  font-weight: bold;
  color: #475569;
  font-family: 'Roboto';
}
.logo {
  height: 20px;
  width: 20px;
  margin-top: 13px;
  margin-left: 10px;
  margin-right: 10px;
}
.url {
  font-size: 10px;
  font-weight: 800;
  color: #64748b;
  font-family: 'Roboto';
  margin-top: 15px;
  margin-left: 10px;
}
.delete-button {
  background-color: transparent;
  border: none;
}
.delete-image {
  height: 20px;
  width: 20px;
}
.small-device-time {
  display: none;
}
.all-data-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (max-width: 100px) {
  .small-device-time {
    display: block;
    font-size: 13px;
    font-weight: bold;
    color: #475569;
    font-family: 'Roboto';
  }
}
